html, body {
    overflow: auto;
    background-image: linear-gradient(#00000099, #00000099), url("../images/wp/wall-01.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: optimizespeed;
    font-family: MorePeftectDos, 'Courier New', monospace;
    text-align: justify;
    word-break: break-word;
    height: 100%;
}

@font-face {
    font-family: MorePeftectDos;
    src: url("moreperfectdos.ttf");
}

a, p {
    font-size: 17px;
    color: white
}

a, h1, span {
    text-decoration: none;
    color: white;
    text-shadow:
        0 0 7px #028117,
        0 0 14px #028117;
}

img {
    padding: 0px;
}

.riceimg {
    text-align: center;
    padding: 20px 0px 35px 0px;
}

h1, .center {
    text-align: center;
}

p img {
    vertical-align: middle;
}

.setup-img {
    width: 48%;
    padding: 20px 0px 35px 0px;
}

.webring img {
    width: 88px;
    height: 31px;
}

.highlight {
    background-color: #000;
    color: #028117;
    font-size: 14px;
    text-shadow: none;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    background-color: #1717178c;
    padding: 12px;
    box-shadow:  
        0 0 7px #028117;
}

.content2 {
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 30px;
    background-color: #1717178c;
    padding: 12px;
    box-shadow:  
        0 0 7px #028117;
}

.widget-container {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
}

.widget-container {
    color: inherit;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 215px;
    margin: 10px;
    transition: 350ms;
    background-color: #1717178c;
}

.widget span {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.widget:hover {
    opacity: 0.8;
    width: 225px;
    height: 195px;
    transition: 350ms;
    cursor: pointer;
}

.neon-text {
    text-shadow:
        0 0 7px #028117,
        0 0 14px #028117;
}

.neon-box {
    box-shadow: 0 0 6px #028117;
}

@media only screen and (max-width: 900px) {
    .widget-container {
        grid-auto-flow: unset;
        margin-left: 25%;
        margin-right: 25%;
     }

    .content {
        margin-left: 3%;
        margin-right: 3%;
    }
}

.wallpapers {
    width: 29%;
    aspect-ratio: 4/2;
    cursor: pointer;
    transition: 200ms;
}

.wallpapers:hover {
    transform: scale(1.25);
    box-shadow: 0 0 20px black;
    transition: 400ms;
}


.index {
    height: 60%;
    width: 50%;
    /* align-items: center; */
    /* aspect-ratio: 2/5; */
    object-fit: contain;
    /* transform: scale(0.2); */
}

.rice {
    height: 65%;
    width: 95%;
    cursor: pointer;
    transition: 200ms;
}

.rice:hover {
    transform: scale(1.25);
    transition: 400ms;
}
